.container {
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    scroll-margin-top: 8rem;
}

.about, .skills{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    align-items: center;
    margin: 0 6rem;
    min-width: 300px;
}

.skillGrid {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.heading {
    font-size: 4.5rem;
    margin-bottom: 4rem;
    font-weight: 400;
}

p {
    font-size: x-large;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.img {
    height: min(calc(3rem + 2vw), 96px);
    margin-bottom: -0.25rem;
}

i {
    font-size: min(calc(3rem + 2vw), 96px);
}


figcaption {
    margin-top: 1rem;
    text-align: center;
    font-size: large;
    font-size: min(calc(0.5rem + 1vw), 18px);
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .skills, .about {
    margin: 0 3rem;
  }

  .skillGrid {
    gap: 2rem;
  }
}