.container {
    display: flex;
    height: 100vh;
    padding: 5rem;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.formContainer, .submitContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    max-width: 50vw;
}

.submitContainer {
  justify-content: center;
}

.formContainer::before, .submitContainer::before {  
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../../images/paint_contact.png');
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
    z-index: -1;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 50%;
}

label {
    color: white;
    margin-bottom: 1rem;
    text-align: start;
    font-size: large;
}

input, textarea {
    margin-bottom: 3rem;
    outline: none;
    font-size: large;
}

input {
    height: 2.5rem;
    padding: 0 0.5rem;
}

textarea {
    padding: 0.5rem;
    resize: none;
    max-height: 100px;
}

.heading {
    font-size: 3.5rem;
    margin-top: 4rem;
    font-weight: 400;
    color: white;
}

button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
}

button:hover {
  background-color: #f9fafb;
}

.buttonText {
  margin-right: 0.5rem;
}

button, input, textarea {
  border: none;
  border-radius: 0.25rem;
}

.errorMessage {
  color: lightcoral;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.submitInfo {
  display: flex;
  flex-direction: column;
}

.submitMessage {
  color: white;
  font-size: 3rem;
  margin-top: 3rem;
}

.checkIcon {
  font-size: 7rem;
  color: white;
}

@media (max-width: 1500px) {
  .container {
    padding: 0;
  }

  .formContainer, .submitContainer {
    width: 90vw;
    padding-top: 5rem;
  }

  .formContainer::before, .submitContainer::before {
    background-size: cover;
  }

  .form {
    width: 60%;
  }

}

@media (max-width: 1000px) {
  .formContainer, .submitContainer {
    width: 100vw;
    max-width: 100vw;
  }

  .formContainer::before, .submitContainer::before {
    background-size: cover;
  }

  .form {
    width: 70%;
  }

  .heading {
    font-size: 3rem;
    margin-top: 2rem;
  }

}