@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.logo {
    font-family: 'Marck Script', cursive;
    font-size: 2.5rem;
}

.header {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    font-weight: 500;
    font-size: large;
}

.menu {
    display: flex;
    gap: 8rem;
    font-size: 1.5rem;
}