@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

.container {
    position: relative;
    max-width: 400px;
    min-width: 275px;
    padding: 1rem;
    border: 1px solid lightgray;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    background: white;
}

#first::after, #first:before {
    content: "";
    position: absolute;
    inset: -0.25rem;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle), #21A6F0, #B416DC, #21A6F0);
    border-radius: inherit;
    animation: rotation 5s linear infinite;
    box-shadow: none;
    border: none;
}

.container::after {
    filter: blur(2rem);
}

.img {
    max-height: 300px;
    min-height: 250px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.heading {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.description {
    font-size: large;
    min-height: 4.5rem;
}

.stack {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    height: 4.5rem;
}

.stackItem {
    background-color: #bfdbfe;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    color: #1e3a8a;
    font-weight: bold; 
    height: max-content;
}

.liveButton, .codeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-weight: 700;
    font-size: 1.25rem;
    background-color: white;
    border: 2px solid #21A6F0;
    border-radius: 4px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #0877b3;
    gap: 0.25rem;
    transition: 0.2s;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.liveButton:hover, .codeButton:hover {
    background-color: #21A6F0;
    color: white;
}

.codeButton {
    gap: 0.4rem;
}

.githubIcon {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

@media (max-width: 400px) {
    .liveButton, .codeButton {
        width: 100px;
    }
}